//main: main.scss

header {
    background: rgb(42, 42, 42);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-size;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
