//main: main.scss

.plateau {
    height: 100%;
    width: 100%;
    background:
    radial-gradient(#0c0d0c, transparent), repeating-linear-gradient(
      -45deg,
      hsl(120, 4%, 16%),
      hsl(120, 4%, 16%) 20px,
      hsl(120, 4%, 23%) 20px,
      hsl(120, 4%, 23%) 40px /* determines size */
    );

    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;

    #plateau {

        height: 700px;
        width: 700px;
        background: #bdbdbd;
        color: hsl(120, 4%, 23%);

        -webkit-transform: rotateX(-330deg);
        transform: rotateX(20deg) rotateZ(0deg);
        grid-gap: 10px;
        border: 10px solid #bdbdbd;
        display: grid;

        .pion {
            transition: 1s;
            position: absolute;
            height: 40px;
            width: 40px;
            border-radius: 50% 50% 30% 30%;
            border: hsla(0, 0%, 0%, 0.54) solid 3px;
            display: flex;
            justify-content: center;

            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 20%;
                right: 20%;
                height: 25%;
                width: 25%;
                border-radius: 50%;
                background: hsla(0, 0%, 100%, 0.8);
            }

            &:hover {
                opacity: 0.4;


            }

            p {
                position: absolute;
                text-align: center;
                top: -80%;
            }
        }

        .case {
            background: #fbfcfc;
            font-size: 100%;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;


            text-align: center;

            &.corner {
                justify-content: center;

            }

            i {
                align-self: center;

                font-size: 200%;
            }

            p {
                width: 100%;
                word-wrap: break-word;

                font-weight: 500;
                padding: 5% 0;

                &:first-child {
                    color: #fff;
                }
            }
        }
    }

    .popUp {
        position: absolute;
        height: 30%;
        width: 30%;
        background: #fff;
        border-radius: 50%;
        border-bottom: #666666 5px solid;
        justify-self: center;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 1.2rem;
        div {
            height: 40%;
            width: 100%;
            display: flex;
            justify-content: space-around;
        }

        button {
            outline: none;
            box-sizing: content-box;
            border: none;
            height: 100%;
            width: 40%;
            border-radius: 50%;
            justify-self: center;
            align-self: center;
            font-size: 2rem;
            font-weight: 600;

            &:last-child {
                background: #ee4848;
                border-bottom: #ba1212 5px solid;

                &:active {
                    border-top: #fff 5px solid;
                    border-bottom: #ee4848 5px solid;
                }
            }

            &:first-child {
                background: #7ded45;
                border-bottom: #4aba12 5px solid;

                &:active {
                    border-top: #fff 5px solid;
                    border-bottom: #7eee49 5px solid;
                }
            }


        }
    }
}
